:root { /*Variáveis de cores*/
  --red: #eb3b5a;
  --light-red: #fc5c65;
  --blue: #45aaf2;
  --yellow: #fed330;
  --green: #26de81;
  --purple: #a55eea;
  --white: #d1d8e0;
  --grey: #4b6584;
  --black: #303030;
}

* { /**/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--black);
  font-family: sans-serif;
}

.container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

.navigator { /*Camada de informação ao usuário*/
  display: flex;
  justify-content: center;
}

.navigator div { 
  background-color: #fff;
  padding: 1rem;
  margin-top: 1erm;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 2px 10px #222;
  font-weight: bold;
}

.poke{ /*Div do círculo e da dica*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-poke { /*Círculo do personagem*/
  height: 15rem;
  width: 15rem;
  margin-top: 7rem;
  background-color: var(--blue);
  border-radius: 50%;
  border: 1.2rem solid #fff;
}

.circle-poke .pokemon-img-dark {
  width: 100%;
  filter: brightness(0);
  transition: filter .5s ease-out;
}

.tip_poke{ /*Dica do personagem*/
  width: 12em;
  height: 2em;
  margin-top: 2.5em;
  background-color: var(--blue);
  border-radius: 0.8em;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.tip_poke h4{ /*Texto da dica do personagem*/
  color: #fff;
}

.inputs{ /*Div dos inputs*/
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

#text_poke{ /*Input para a entrada dos nomes*/
  width: 25em;
  height: 2.5em;
  border: none;
  border-radius: 0.8em;
  padding: 0.3em;
  color: #222;
  outline: none;
}

#text_poke::placeholder{
  color: #222;
  font-size: 1.05em;
  font-weight: bold;
}

#btn_poke{ /*Button*/
  background-color: var(--blue);
  height: 2.5em;
  width: 5em;
  border: none;
  border-radius: 0.8em;
  color: #fff;
  font-weight: bold;
}
