/*Variáveis de cores*/
:root {
  --red: #eb3b5a;
  --light-red: #fc5c65;
  --blue: #45aaf2;
  --yellow: #fed330;
  --green: #26de81;
  --purple: #a55eea;
  --orange: #fd9644;
  --white: #d1d8e0;
  --grey: #4b6584;
  --black: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: var(--black);
  font-family: sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}

/*Camada de informação ao usuário*/
.navigator {
  display: flex;
  justify-content: center;
}

.navigator div {
  background-color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 1erm;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 2px 10px #222;
  font-weight: bold;
}

.navigator .record {
  color: #fd9644;
}

/*Div do círculo e da dica*/
.poke {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Círculo do personagem*/
.circle-poke {
  height: 15rem;
  width: 15rem;
  margin-top: 7rem;
  background-color: var(--blue);
  border-radius: 50%;
  border: 1.2rem solid #fff;
}

.circle-poke .pokemon-img-dark {
  width: 100%;
  filter: brightness(0);
  transition: filter .5s ease-out;
}

/*Dica do personagem*/
.tip-poke {
  margin-top: 2.5em;
  background-color: var(--blue);
  border-radius: 5rem;
  padding: 3px 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*Texto da dica do personagem*/
.tip-poke h4 {
  color: #fff;
}

/*Div dos inputs*/
.inputs {
  margin: 2rem 0;
}

/*Input para a entrada dos nomes*/
.inputs #text-poke {
  width: 25rem;
  border: none;
  border-radius: 0.8rem 0 0 0.8rem;
  padding: 10px;
  color: #222;
  outline: none;
  font-size: 1.05rem;
}

/*Button*/
.inputs #button-poke {
  background-color: var(--blue);
  border: none;
  cursor: pointer;
  border-radius: 0 0.8rem 0.8rem 0;
  color: #fff;
  font-weight: bold;
  font-size: 1.05rem;
  padding: 10px 1.5rem;
}

@media (max-width: 570px) {
  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputs #text-poke, .inputs #button-poke {
    border-radius: 0.5rem;
    width: 90%;
  }

  .inputs #button-poke {
    margin-top: 1rem;
  }
}
